/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;  /* Set body margin to 0 */
    padding-top: 20px; /* Add padding at the top of the body */
}

h1 {
    color: #051199;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0; /* Set h1 margin to 0 */
    padding-bottom: 20px; /* Add padding below the h1 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li.tuning-name {
    color: #051199;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

li.note-frequency {
    color: black;
    font-size: 15px;
    font-weight: normal;
}

ul.notes-list {
    list-style-type: disc;
    padding-left: 20px; /* Adjust padding for disc */
}

.app_button {
    background-color: #051199;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    display: inline-block; /* Display buttons inline */
    margin: 10px; /* Add some space around each button */
}

.app_button:hover {
    background-color: #0e58ad;
}

#add-tuning-button {
    display: block; /* Changed to block for centering */
    margin: 20px auto; /* Center the button horizontally */
}

#button-container {
    text-align: center; /* Center the container's content */
}

#add_tuning_inputs {
    text-align: center; /* Center the container's content */
}