/* style.css */

body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
}
h1 {
    color: #05edf5;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
}
li.tuning-name {
    color: #05edf5;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
li.note-frequency {
    color: white;
    font-size: 15px;
    font-weight: normal;
}

ul.notes-list {
    list-style-type: disc;
    padding-left: 20px; /* Adjust padding for disc */
}