<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guitar Tunings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        // Defines a function that collects the tuning data and sends it to the server.
        function saveTuning() {
            // Initializes an object to hold the tuning data.
            var tuningData = {
                // Retrieves the value of the tuning name from the input field and stores it.
                tuningName: document.getElementById('tuningName').value,
            };
            // Loops through the expected 6 strings of a guitar tuning.
            for (var i = 1; i <= 6; i++) {
                // For each string, get the note and frequency values from the form and add them to the tuningData object.
                tuningData['note' + i] = document.getElementsByName('note' + i)[0].value;
                tuningData['frequencyValue' + i] = document.getElementsByName('frequencyValue' + i)[0].value;
            }

            // Makes an HTTP POST request to the server with the tuning data.
            fetch('/save_tuning', {
                method: 'POST', // Specifies the request method.
                headers: {
                    // Sets the content type of the request header.
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                // Converts the tuningData object to a URL-encoded string suitable for POSTing.
                body: new URLSearchParams(tuningData).toString()
            }).then(function(response) {
                // After receiving the response, redirects the browser to the tunings page.
                window.location.href = '/tunings';
            });
        }


        // Updates the value of a corresponding number input field when a range slider is moved.
        function updateFrequencyValue(rangeInput, numberInputId) {
            // Sets the value of the number input field to match the value of the range input.
            // The value is converted to a float and formatted to two decimal places.
            document.getElementsByName(numberInputId)[0].value = parseFloat(rangeInput.value).toFixed(2);
        }


        // Updates the value of a range input field to match the value entered in a number input field.
        function updateRangeValue(numberInput, rangeInputId) {
            // Sets the value of the range input field to match the value of the number input.
            document.getElementsByName(rangeInputId)[0].value = numberInput.value;
        }
    </script>
</head>
<body>

    <!-- Top Menu -->
    <div id="top-menu">
        <h1>Add New Tuning</h1>
        <div id="menu-buttons">
            <button onclick="window.location.href='/'" class="app_button">About</button>
            <button onclick="window.location.href='{{ url_for('tunings_site') }}'" class="app_button">Tunings</button>
            <button onclick="window.location.href='{{ url_for('add_tuning_site') }}'" class="app_button">Add Tuning</button>
        </div>
    </div>

    <!-- Add new tuning inputs -->
    <div id="add_tuning_inputs">

        <!-- Add name of tuning -->
        <div id="tuning_name_container">
            <label for="tuningName">Tuning Name:</label>
            <input type="text" id="tuningName" name="tuningName" required>
        </div>

        <!-- Input fields for each string -->
        <!-- String 1 -->
        <div class="string-input" id="string1">
            <label>String 1 = Note:</label>
            <input class="note-input" type="text" name="note1" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency1" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue1')">
            <input type="number" name="frequencyValue1" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency1')" class="frequency-input"> Hz
        </div>

        <!-- String 2 -->
        <div class="string-input" id="string2">
            <label>String 2 = Note:</label>
            <input class="note-input" type="text" name="note2" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency2" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue2')">
            <input type="number" name="frequencyValue2" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency2')" class="frequency-input"> Hz
        </div>

        <!-- String 3 -->
        <div class="string-input" id="string3">
            <label>String 3 = Note:</label>
            <input class="note-input" type="text" name="note3" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency3" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue3')">
            <input type="number" name="frequencyValue3" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency3')" class="frequency-input"> Hz
        </div>

        <!-- String 4 -->
        <div class="string-input" id="string4">
            <label>String 4 = Note:</label>
            <input class="note-input" type="text" name="note4" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency4" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue4')">
            <input type="number" name="frequencyValue4" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency4')" class="frequency-input"> Hz
        </div>

        <!-- String 5 -->
        <div class="string-input" id="string5">
            <label>String 5 = Note:</label>
            <input class="note-input" type="text" name="note5" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency5" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue5')">
            <input type="number" name="frequencyValue5" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency5')" class="frequency-input"> Hz
        </div>

        <!-- String 6 -->
        <div class="string-input" id="string6">
            <label>String 6 = Note:</label>
            <input class="note-input" type="text" name="note6" required>
            <label> -  Frequency:</label>
            <input type="range" name="frequency6" min="1" max="400" step="0.01" value="100" oninput="updateFrequencyValue(this, 'frequencyValue6')">
            <input type="number" name="frequencyValue6" min="1" max="400" step="0.01" value="100" oninput="updateRangeValue(this, 'frequency6')" class="frequency-input"> Hz
        </div>

        <!-- Buttons -->
        <div id="button-container">
            <button onclick="saveTuning()" class="app_button" id="save_tuning_button">Save</button>
            <button onclick="window.location.href='{{ url_for('tunings_site') }}'" class="app_button" id="back_button">Back</button>
        </div>
    </div>
</body>
</html>