<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tunings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Guitar Tunings</h1>

    <!-- Add Tuning Button -->
    <button onclick="window.location.href='{{ url_for('add_tuning') }}'" id="add-tuning-button" class="app_button">Add Tuning</button>

    <!-- Tunings Container -->
    <div id="tunings-container">
        <!-- Iterating over tunings -->
        {% for tuning_dict in tunings %}
            {% for tuning_name, notes in tuning_dict.items() %}
                <div class="tuning-block">
                    <h2 class="tuning-name">{{ tuning_name }}</h2>
                    <ul class="notes-list">
                        <!-- Iterating over notes -->
                        {% for note_dict in notes %}
                            {% for note, frequency in note_dict.items() %}
                                <li class="note-frequency">{{ note }} - {{ frequency }} Hz</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>